#getSignIn, #getSignUp, #getLogOut, #getHome {
    color: white;
}

.row {
    overflow: auto;
    white-space: nowrap;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.container-fluid {
    margin-top: 100px;
}