<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="google-signin-client_id" content="517803177625-n77g91t2rv39th4tuhksmj7dlvisfno6.apps.googleusercontent.com">

    <title>TODO</title>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../scripts/auth.js"></script>
    <script src="../scripts/api.js"></script>
    <script src="../scripts/main.js"></script>
</head>
<body>
    <div class="navbar">
        <div>
            <ul>
                <li id="nav-home">Home</li>
                <li id="nav-add-todo">Add Todo</li>
            </ul>
        </div>
        <div>
            <ul>
                <li id="nav-login">log in</li>
                <li id="nav-register">register</li>
                <li id="nav-logout">Log out</li>
            </ul>
        </div>
    </div>

    <!-- register -->
    <div id="register">
        <h2>Register</h2>
        <div>
            <form id="form-register">
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="register-email" required><br><br>
                
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="register-password" required><br><br>

                <input type="submit" value="Register">
            </form>
        </div>
    </div>

    <!-- login -->
    <div id="login">
        <h2>Login</h2>
        <div>
            <form id="form-login">
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="login-email" required><br><br>
                
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="login-password" required><br><br>
                    
                <input type="submit" value="Log in" id="submit">
            </form>
        </div>
    </div>

    <!-- todo list -->
    <div id="home">
        <h2>Todo List</h2>

        <table id="list-todo">
            <tr>
                <th>Todo</th>
                <th>Description</th>
                <th>Due-date</th>
                <th>Diapain</th>
            </tr>
        </table>
    </div>

    <!-- form input todo -->
    <div id="add-todo">
        <h2>Add Todo</h2>

        <form id="form-add-todo">
            <label for="title">Title:</label><br>
                <input type="text" name="title" id="add-title" required><br><br>
                
                <label for="description">Description:</label><br>
                <input type="text" name="description" id="add-description" required><br><br>

                <label for="due-date">Due-date:</label><br>
                <input type="date" name="due-date" id="add-due-date" required><br><br>    
                    
                <input type="submit" value="Add todo" id="submit">
        </form>
    </div>

    <!-- form edit todo -->
    <div id="edit-todo"></div>
</body>
</html>